.repoBarContainer {
  width: 100vw;
  height: 60px;
  left: 0;
  background-color: #25242A;
  font-size: 16px;
  display: inline-block;
  box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
}

.importRepoContainer {
  display: inline-block;
  cursor: pointer;

  padding: 10px;
}
